<!DOCTYPE html>
<html lang="en">

<head>
    <title>Social Networking</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/form.css') }}">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/table.css') }}">
</head>

<body>
	<header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Social Networking</a>
                </div>
                <ul class="nav navbar-nav">
					<li><a href="/home">Home</a></li>
					<li><a href="/post">Post</a></li>
					<li class="active"><a href="/post">View Post</a></li>
					<li><a href="/requests">View Requests</a></li>
					<li><a href="/">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>
	<section>
		<div>
			<table id="posts" align="center"  border="1">
				<thead>
					<th>User Name</th>
					<th>Posts</th>
				</thead>
				{% for name,post,comment,type in posts %}
					<tr>
						<td>{{name}}</td>
						<td>{{post}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
    </section>
</body>

</html>